modules = ["nodejs-20"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && ./node_modules/.bin/vite --host 0.0.0.0 --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 7687
externalPort = 3002

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["vim-full"]

[deployment]
build = ["sh", "-c", "cd client && npm install --legacy-peer-deps && npm run build && cd ../server && npm install"]
run = ["sh", "-c", "cd server && NODE_ENV=production node index.js"]

[userenv]

[userenv.shared]
NEO4J_USER = "3fa11aa8"
NEO4J_URI = "bolt+s://3fa11aa8.databases.neo4j.io:7687"
